@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-image: url('https://www.livingstone.cz/upload/responsive/kraken/info-o-zemich/asie/Oman-hlavicka-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 100%;
    width: 100%;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color: #edf0f1;
}

li, a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.logo{
    cursor: pointer;
}

.navbarOdkazy{
    list-style: none;
}

.navbarOdkazy li {
    display: inline-block;
    padding: 0px 20px;
}

.navbarOdkazy li a {
    transition: all 0.3s ease 0s;
}

.navbarOdkazy li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}
.nadpis{
    font-size: 40px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.podtitulek{
    text-align: center;
}
.statistika{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}
.futr{
    text-align: center;
}
footer{
    padding: 30px 10%;
}
.border{
    border: #24252A;
}
.poznamka {
    background-color: rgba(0,0,0,0.5);
    font-size: 0.9em;
    padding: 0.5em;
}
