@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    background-image: url('https://www.livingstone.cz/upload/responsive/kraken/info-o-zemich/asie/Oman-hlavicka-01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 100%;
    width: 100%;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    color: #edf0f1;
}

li, a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.logo{
    cursor: pointer;
}

.navbarOdkazy{
    list-style: none;
}

.navbarOdkazy li {
    display: inline-block;
    padding: 0px 20px;
}

.navbarOdkazy li a {
    transition: all 0.3s ease 0s;
}

.navbarOdkazy li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease 0s;
}
.nadpis{
    font-size: 40px;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.podtitulek{
    text-align: center;
}
.statistika{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #24252A;
    text-decoration: none;
}
.futr{
    text-align: center;
}
footer{
    padding: 30px 10%;
}
.border{
    border: #24252A;
}
.poznamka {
    background-color: rgba(0,0,0,0.5);
    font-size: 0.9em;
    padding: 0.5em;
}
.myButton {
box-shadow:inset 0px -3px 7px 0px #29bbff;
background:linear-gradient(to bottom, #059df5 5%, #0688fa 100%);
background-color:#059df5;
border-radius:3px;
border:1px solid #0b0e07;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:15px;
padding:9px 23px;
text-decoration:none;
text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
background:linear-gradient(to bottom, #0688fa 5%, #059df5 100%);
background-color:#0688fa;
}
.myButton:active {
position:relative;
top:1px;
}
.card-header{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #edf0f1;
    background-color: #24252A;
}
.card-footer{
    background-color: #24252A;
}
.tejbl{
    text-align: center;
    width: 100%;
    margin-right: -50px !important;
}